body {
    padding: 0;
    margin: 0;
    background-color: #dfe7ef;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "Bitter", serif
}

.wrap {
    border-radius: 15px;
    width: 410px;
    background-color: #e7ecf1;
    box-shadow: 0 15px 35px -5px rgba(50, 88, 130, 0.32);
    padding: 30px;
    box-sizing: border-box;
    min-height: 480px;
    position: relative;
    z-index: 0
}

.wrap .down h1 {
    font-size: 20px;
    color: #6c7c9a
}

.wrap .down h2 {
    color: #9eabbe;
    font-size: 16px
}

.wrap .down>div {
    display: flex;
    color: #9eabbe;
    position: relative
}

.wrap .down>div>span {
    position: absolute;
    top: 100%
}

.wrap .down>div>span:last-of-type {
    top: -100%;
    right: 0
}

.wrap .down>div .ing {
    position: absolute;
    width: 98%;
    height: 5px;
    border-radius: 4px;
    background-color: #d83d8074;
    box-sizing: border-box;
    top: 7px;
    left: 1%
}

.wrap .down>div .ing>i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    width: 0%;
    height: 5px;
    background-color: #29bfc7a0
}

.wrap .down>div .ing>i::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    right: -6px;
    top: -3px
}

.wrap .down>div input {
    flex-shrink: 0;
    width: 102.6%;
    position: relative;
    opacity: 0;
    margin-left: -1.3%
}

@media screen and (max-width:768px) {
    .wrap {
        width: 96%
    }

    .wrap .up {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center
    }

    .wrap .up .control {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: auto
    }
}

@keyframes fangda {
    0% {
        transform: scale(1);
        opacity: .6
    }

    100% {
        transform: scale(1.3);
        opacity: 0
    }
}

@keyframes hou {
    0% {
        transform: scale(.8);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

.up {
    width: 100%;
    height: 345px;
    display: flex;
    justify-content: right
}

.up>div {
    width: 90%;
    position: relative
}

.up>div .img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    border-radius: 20px;
    position: relative;
    background-size: cover
}

@media screen and (max-width:768px) {
    .up>div .img {
        width: 100%;
        height: 200px;
        margin-bottom: 50px
    }
}

.up>div .img::before {
    content: "";
    background-image: inherit;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 28px;
    left: 0px;
    transform: scale(.9);
    filter: blur(12px)
}

.up>div .img::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: -1;
    transform: scale(.9);
    border-radius: 20px;
    filter: blur(20px)
}

.up>div .img.ii::after {
    content: "";
    background-image: none;
    z-index: -100
}

.up>div .img.ii::before {
    background-image: none;
    z-index: -100
}

.up .control {
    flex-shrink: 0;
    width: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px
}

.up .control i:not(:last-of-type):not(:nth-of-type(5)) {
    color: #acb8cc;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    transition: all .3s
}

.up .control i:not(:last-of-type):not(:nth-of-type(5)):first-child {
    font-size: 30px
}

.up .control i:not(:last-of-type):not(:nth-of-type(5)):first-child.love {
    color: #d82222
}

.up .control i:not(:last-of-type):not(:nth-of-type(5))::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.223);
    transition: all .3s;
    opacity: 0;
    z-index: -1;
    border-radius: 50%
}

@media screen and (min-width:768px) {
    .up .control i:not(:last-of-type):not(:nth-of-type(5)):hover {
        color: #532ab9
    }

    .up .control i:not(:last-of-type):not(:nth-of-type(5)):hover::after {
        width: 60px;
        height: 60px;
        opacity: 1
    }
}

.up .control i:nth-of-type(5), .up .control i:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: transparent;
    color: white;
    margin-top: -10px;
    border-radius: 50%;
    margin-bottom: 0
}

.up .control i:nth-of-type(5).none, .up .control i:nth-child(6).none {
    display: none
}

.up i {
    cursor: pointer
}

h1, h2 {
    padding: 0;
    margin: 0
}

/*# sourceMappingURL=./index.css.map */